body{
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
    background-color:#f0f2f5;
}
#container{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:50px;
    height:100vh;
}
#formulario{
    display:flex;
    flex-direction:column;
    width:250px;
    padding:20px;
    background:white;
    border-radius:10px;
    box-shadow:0px 0px 10px rgba(0,0,0,0.2);
}

input, select{
    margin-bottom:15px;
    padding:8px;
}
#btn-gerar{
    padding:10px;
    border:none;
    background-color:#4CAF50;
    color:white;
    cursor:pointer;
    transition:0.3s;
}

#btn-gerar:hover{
    background-color:#2e7d32;
}
#badge{
    width:250px;
    height:350px;
    background-color:white;
    border-radius:20px;
    box-shadow:0px 4px 15px rgba(0,0,0,0.3);
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    border:3px solid transparent;
}
#foto{
    width:120px;
    height:120px;
    border-radius:100px;
    margin-bottom:15px;
}

h3{
    margin:5px;
}

p{
    margin:3px;
}